<html>

<head>
	<meta charset="utf-8" />
	
	
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />

	<title>Bringo</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

    <link href="stylesheets/bootstrap.min.css" rel="stylesheet" />


    <link href="stylesheets/paper-dashboard.css" rel="stylesheet"/>

    
    <link href="stylesheets/themify-icons.css" rel="stylesheet">
  

</head>
<body>
    
<div class="wrapper">
	<div class="sidebar" data-background-color="white" data-active-color="danger">

   

    	<div class="sidebar-wrapper">
            <div class="logo">
             <center> <h3>BrinGo</h3></center>
                
            </div>

            <ul class="nav">
               
                <li class="active">
                        
                           <center> <button type="button" class="btn btn-info btn-fill btn-wd" onclick="m1()"> Requester Details</button></center><br>

                    </li>
                    <li>
                        
                            <center><button type="button" class="btn btn-info btn-fill btn-wd" onclick="m2()"> Visitor Deatails</button></center><br>
                       
                    </li>
                 
                    <li>
                       
                       <center> <button type="button" class="btn btn-info btn-fill btn-wd" onclick="m3()"> Requirment</button></center>
                        
                    </li>
            </ul>
    	</div>
    </div>

    <div class="main-panel">
		<nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar bar1"></span>
                        <span class="icon-bar bar2"></span>
                        <span class="icon-bar bar3"></span>
                    </button>
                    <a class="navbar-brand" href="#">Enter Guest Detais Here....</a>
                </div>
              
            </div>
        </nav>


       
      
      
             <div class="col-sm-8 col-sm-offset-2">
                <div class="jumbotron text-center">
                      
          
                         <img src="image/chitkaraLogo.png" alt="logo" width="200" height="100">
                </div>
  
            <form action="/bringo/request" method="post">
                <!-------------------------------------------------------------------DIV TAG WITH ID 01 ---------------------------------------------------------------------------------->
                    <div id='id01' >
                         <div class="form-group">
                                    <div class="form-group">
                                     
                                    <label>Date</label>
                                    <input type="date" name="requesterdate" class="form-control border-input" required>
                                    <label>Department *</label>

                                     <input type="text"  name="department" placeholder="Department" class="form-control border-input" aria-required="">
                                     <label>Name *</label>

                                     <input type="text"  name="requestername" placeholder="Name" class="form-control border-input" required>
 <label>title *</label>

                                     <input type="text"  name="title" placeholder="title" class="form-control border-input" >
                                     <label>Organization *</label>

                                     <input type="text"  name="organization" placeholder="organization" class="form-control border-input" required>
                                   <label>phone No *</label>

                                     <input type="text"  name="requestercontact" pattern="[0-9]{10,10}"" placeholder="phone no" class="form-control border-input" required>
                                  <label>Alt phone No *</label>

                                     <input type="text"  name="requesteraltcontact"  pattern="[0-9]{10,10}" placeholder="Alt phone no" class="form-control border-input" >
                             
                                <label>Email *</label>
                                <input type="email"  name="requesteremail" placeholder="[a-z0-9A-z]@chikara.edu.in" pattern="[a-z0-9._%+-]+@chitkara.edu.in$" class="form-control border-input" required>
                               <br/><br/>
                             
                            
                        </div>
                   </div>
                   </div>

<!---------------------------------------------------------------------------------------DIV TAG WITH ID 02----------------------------------------------------------------------------------------------------------------->
                   <div id='id02' style="display: none">
                
                    <div class="form-group">
                        <div class="form-group">
                            <label>No of Visitors</label>
				<input type="text" id="NoOfVisitors" name="noofvisitors" onchange="addFields(this.value)" class="form-control border-input" required>
				<!--<a href="#" id="filldetails" onclick="addFields()">Fill Details</a>-->
    <div id="containers" class="form-group"></div>
			 <script type='text/javascript'>
          //   var number = document.getElementById("NoOfVisitors").value;
          //   var firstname = [number];
          //   var lastname = [number];
           //  var contact = [number];
           //  var email = [number];
        function addFields(number){
            // Number of inputs to create
           
            // Container <div> where dynamic content will be placed
		console.log(number);
            var container = document.getElementById("containers");
            // Clear previous contents of the container
            while (container.hasChildNodes()) {
                container.removeChild(container.lastChild);
            }
            for (i=0;i<number;i++){

                // Append a node with a random text
                container.appendChild(document.createTextNode("Visitor "+(i+1)+ " Firstname"));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "firstname"+i;
		input.className = "form-control border-input";
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
		
		container.appendChild(document.createTextNode("Visitor "+(i+1)+ " Lastname "));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "text";
                input.name = "lastname"+i;
		
		input.className = "form-control border-input";
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));

		container.appendChild(document.createTextNode("Visitor "+(i+1)+ " Contact No. "));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "number";
                input.name = "contact"+i ;

		input.className = "form-control border-input";
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
		
		container.appendChild(document.createTextNode("Visitor "+(i+1)+ " Email Id "));
                // Create an <input> element, set its type and name attributes
                var input = document.createElement("input");
                input.type = "email";
                input.name = "email"+i;
		input.className="form-control border-input";
                container.appendChild(input);
                // Append a line break 
                container.appendChild(document.createElement("br"));
   //     firstname[i]=document.getElementsByName('firstname').value;
   //     lastname[i]=document.getElementsByName('lastname').value;
   ///     contact[i]=document.getElementsByName('contact').value;
     //   email[i]=document.getElementsByName('email').value;

            }
        }
    </script>
<br>
                         <label>Gender</label>
                         <select name="gender"  class="form-control border-input"> 
                        <option value="Mrs">Mr</option>
                        <option value="Mrs">Mr's</option>
                        <option value="others">others</option>
                      </select>
                        
                 <label>Arrival date </label>
                 <input type="date"   name="arrivaldate" placeholder="date"  class="form-control border-input" required>
                 <label>Arrival time</label>
                 <input type="time"   name="arrivaltime" placeholder="date"  class="form-control border-input" required><br>
                 <label>Deaparture Date :</label>
                 <input type="date"  name="departuredate" placeholder="deaparture date" class="form-control border-input" >
               <label>Deaparture time :</label>
                 <input type="time"  name="departuretime" placeholder="deaparture time" class="form-control border-input" ><br>
                      <label>Purpose of vsitiors</label><br><br>
                     <textarea rows="4" cols="80" resize:none name="purpose">
                        </textarea>
                 
  <br/>                 
                 
                
            </div>
       </div>
</div>
<!-------------------------------------------------DIV TAG WITH ID 03-------------------------------------------------------------------------------->
       <div id='id03' style="display: none">
        <div class="form-group">
            <div class="form-group">
                    <big><i class="ti-exchange-vertical">  Pickup Details :</i></big>
                    <h3></h3><br/>
                   
             <label>pick Required</label>

              <select name="pickupreq"  class="form-control border-input"> 
            <option value="Yes">Yes</option>
            <option value="No">No</option>
            <option value="if later">if later</option>
                  </select>
                  <label>Drop info  *</label>
                  <input list="pickupinfo" name="pickupinfo"  class="form-control border-input">
                                 <datalist id="pickupinfo">
                                 <option value="Chandigarh Airport">
                                     <option value="Chandigarh Railway">
                                 <option value="Rajpura Railway station">
                                 <option value="Ambala cantt Railway station">
                         </datalist>
              
          <hr>
            <big><i class="ti-exchange-vertical">  Drop Details :</i></big>
            <h3></h3><br/>
     <label>drop Required</label>

    
      
       <select name="dropreq"  class="form-control border-input"> 
     <option value="Yes">Yes</option>
     <option value="No">No</option>
     <option value="if later">if later</option>
     </select>
     <label>Drop info  *</label>
     <input list="dropinfo" name="dropinfo"  class="form-control border-input">
                    <datalist id="dropinfo">
                    <option value="Chandigarh Airport">
                        <option value="Chandigarh Railway">
                    <option value="Rajpura Railway station">
                    <option value="Ambala cantt Railway station">
            </datalist>

       

    <big><i class="ti-angle-double-down"> meals Details :</i></big>
    <h3></h3><br/>
<label>meals Required</label>
<select name="meal"  class="form-control border-input"> 
    <option value="yes">yes</option>
    <option value="no">No</option>
    <option value="if later">if later</option>
  </select><br/><br/>
  <input type="submit" class="btn btn-info btn-fill btn-wd"   value="submit"  >
            </div>
 </div>
    </div>

                          
             </form>

        
             

</body>

    <script src="javascripts/jquery.min.js" type="text/javascript"></script>
	<script src="javascripts/bootstrap.min.js" type="text/javascript"></script>

	
	<script src="javascripts/bootstrap-checkbox-radio.js"></script>

	<script src="javascripts/chartist.min.js"></script>

    <script src="javascripts/bootstrap-notify.js"></script>

  
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js"></script>

	<script src="javascripts/paper-dashboard.js"></script>

	
	<script src="javascripts/demo.js"></script>
<script>
    function m1()
    {
        document.getElementById('id01').style.display='block';
        document.getElementById('id02').style.display='none';
        document.getElementById('id03').style.display='none';

    }
    function m2()
    {
        document.getElementById('id03').style.display='none';
        document.getElementById('id01').style.display='none';
        document.getElementById('id02').style.display='block';
        

    }
    function m3()
    {document.getElementById('id03').style.display='block';
        document.getElementById('id01').style.display='none';
        document.getElementById('id02').style.display='none';
        

    }




</script>

</html>